mixin drafting()
    +b.drafting
        +e.block
            +e.content
                +e.P.text
                    | Наша компания осуществляет проектирование нового строительства, реконструкции, капитального ремонта и ремонта следующих объектов:
                +e.UL.list
                    +e.LI.list-item наружные сети водопровода и канализации;
                    +e.LI.list-item сети наружного освещения и электроснабжения;
                    +e.LI.list-item благоустройство;
                    +e.LI.list-item генеральные планы;
                    +e.LI.list-item проекты планировки территории;
                    +e.LI.list-item внутренние инженерные сети;
                    