mixin objects-list()
    +b.MAIN.objects-list
        +e.item
            +e.image(style='background-image: url("images/object.jpg")')
                +e.A.more(href='#') +
                    div(class="all-images" style='display: none')
                        a(data-fancybox='images' href="images/object1-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
                        a(data-fancybox='images' href="images/object2-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
                        a(data-fancybox='images' href="images/object3-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
                        a(data-fancybox='images' href="images/object4-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
            +e.description
                +e.title Камбарка ПУСК
                +e.customer Заказчик: ООО «Русский мост»
                +e.location Локация: Самара
                +e.done-title Описание работ:
                +e.done-list 
                    | Описание работ: <br>
                    | расчистка территории, <br>
                    | строительство опор моста, <br>
                    | укрепление свай, <br>
                    | настройка пво, <br>
                    | пуск термоядерныйх ракет <br>
        +e.item
            +e.image(style='background-image: url("images/object.jpg")')
                +e.A.more(href='#') +
                    div(class="all-images" style='display: none')
                        a(data-fancybox='images' href="images/object1-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
                        a(data-fancybox='images' href="images/object2-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
                        a(data-fancybox='images' href="images/object3-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
                        a(data-fancybox='images' href="images/object4-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
            +e.description
                +e.title Камбарка ПУСК
                +e.customer Заказчик: ООО «Русский мост»
                +e.location Локация: Самара
                +e.done-title Описание работ:
                +e.done-list 
                    | Описание работ: <br>
                    | расчистка территории, <br>
                    | строительство опор моста, <br>
                    | укрепление свай, <br>
                    | настройка пво, <br>
                    | пуск термоядерныйх ракет <br>
        +e.item
            +e.image(style='background-image: url("images/object.jpg")')
                +e.A.more(href='#') +
                    div(class="all-images" style='display: none')
                        a(data-fancybox='images' href="images/object1-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
                        a(data-fancybox='images' href="images/object2-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
                        a(data-fancybox='images' href="images/object3-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
                        a(data-fancybox='images' href="images/object4-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
            +e.description
                +e.title Камбарка ПУСК
                +e.customer Заказчик: ООО «Русский мост»
                +e.location Локация: Самара
                +e.done-title Описание работ:
                +e.done-list 
                    | Описание работ: <br>
                    | расчистка территории, <br>
                    | строительство опор моста, <br>
                    | укрепление свай, <br>
                    | настройка пво, <br>
                    | пуск термоядерныйх ракет <br>
        +e.item
            +e.image(style='background-image: url("images/object.jpg")')
                +e.A.more(href='#') +
                    div(class="all-images" style='display: none')
                        a(data-fancybox='images' href="images/object1-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
                        a(data-fancybox='images' href="images/object2-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
                        a(data-fancybox='images' href="images/object3-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
                        a(data-fancybox='images' href="images/object4-full.jpg" class="fancybox" data-caption='<div class="caption-title">Камбарка ПУСК</div><div class="caption-info"><span>Заказчик: ооо « Русский мост»</span> <span>Локация: самара</span> <span>год: 2010</span></div>')
            +e.description
                +e.title Камбарка ПУСК
                +e.customer Заказчик: ООО «Русский мост»
                +e.location Локация: Самара
                +e.done-title Описание работ:
                +e.done-list 
                    | Описание работ: <br>
                    | расчистка территории, <br>
                    | строительство опор моста, <br>
                    | укрепление свай, <br>
                    | настройка пво, <br>
                    | пуск термоядерныйх ракет <br>
        
                    
