- var links = [{url: "objects.html", text: "Объекты"}, {url: "licenses.html", text: "Лицензии"}, {url: "testimonials.html", text: "Отзывы"}, {url: "contacts.html", text: "Контакты"}]

mixin main-nav()
    +b.NAV.main-nav
        +e.UL.list
            each link in links
                +e.LI.item
                    +e.A.link(href="#{link.url}") #{link.text}
                