mixin electrical-works()
    +b.service-page.electrical-works
        +e.block
            +e.H3.title <span class='counter'>1.</span> Строительство подстанций.
            +e.content
                +e.P.text
                    | Компания осуществляет поставку и монтаж электрооборудования для трансформаторных подстанций и распределительных пунктов 6кВ, 10кВ, 35кВ, 110кВ и 220кВ. Оказывает все услуги по капитальному ремонту и новому строительству ТП, РП, КТПН, БКТП от 6кВ до 220кВ. Специалистами компании может быть реализовано строительство трансформаторных подстанций и распределительных пунктов следующих видов:
                +e.UL.list
                    +e.LI.list-item Понижающие трансформаторные подстанции КТП, БКТП 6/0,4 кВ;
                    +e.LI.list-item Понижающие трансформаторные подстанции КТП, БКТП 10/0,4 кВ;
                    +e.LI.list-item Понижающие трансформаторные подстанции ТП 35/10/0,4 кВ;
                    +e.LI.list-item Понижающие трансформаторные подстанции ТП 110/35/10 кВ;
                    +e.LI.list-item Понижающие трансформаторные подстанции ТП 220/110 кВ.
        +e.block
            +e.H3.title <span class='counter'>2.</span> Строительство кабельных линий.
            +e.content
                +e.P.text
                    | Прокладка кабельных линий электропередач КЛ 0,4кВ, КЛ 6кВ, КЛ 10кВ, КЛ 35кВ, КЛ 110кВ, КЛ 220кВ, КЛ 330кВ. <br>Компания оказывает все виды услуг по прокладке кабельных линий.
        +e.block
            +e.H3.title <span class='counter'>3.</span> Строительство воздушных ЛЭП.
            +e.content
                +e.P.text
                    | Строительство воздушных линий электропередач 0,4кВ, 6кВ, 10кВ, 35кВ, 110кВ, 220кВ. Также компания осуществляет монтаж опор ЛЭП. Тип опор определяется типом самой ЛЭП. Компания выполняет все этапы строительства воздушных ЛЭП:
                +e.UL.list
                    +e.LI.list-item подготовительные работы по обследованию и разбивке трассы ВЛ;
                    +e.LI.list-item земляные работы и монтаж фундаментов для опор ВЛ;
                    +e.LI.list-item окончательная сборка опор ВЛ и их установка;
                    +e.LI.list-item монтаж проводов ВЛ и тросов.
        +e.block
            +e.H3.title <span class='counter'>4.</span> Наружные работы.
            +e.content
                +e.P.text
                    | Компания выполняет все виды наружных работ.
        +e.block
            +e.H3.title <span class='counter'>5.</span> Внутренние работы.
            +e.content
                +e.P.text
                    | Компания осуществляет весь спектр внутренних электромонтажных работ.
