mixin inspection()
    +b.inspection
        +e.block
            +e.content
                +e.P.text
                    | Наша компания проводит работы по комплексному обследованию и оценке технического состояния здания.
            +e.H3.title Что такое техническое обследование?
            +e.content
                +e.P.text
                    | Техническое обследование – определение технического состояния объекта обследования (здание, сооружение, отдельные строительные конструкции, инженерные сети и т.д.) и формирование выводов о возможности дальнейшей безопасной эксплуатации объекта.
        +e.block
            +e.H3.title Для чего проводят техническое обследование?
            +e.content
                +e.P.text
                    | Цель технического обследования:
                +e.UL.list
                    +e.LI.list-item оценить техническое состояние и разработать мероприятия по дальнейшей безопасной эксплуатации объекта обследования (здание, сооружение, отдельные строительные конструкции, инженерные сети и т.д.);
                    +e.LI.list-item определить возможность реконструкции объекта обследования, в том числе возможность ремонта, надстройки, пристройки, перестройки, перепланировки, перевооружения, переоборудования, расширения/замены/восстановления несущих строительных конструкций, увеличения несущей способности (максимальной нагрузки);
                    +e.LI.list-item зафиксировать некачественно выполненные строительно-монтажные работы;
                    +e.LI.list-item выявить причины дефектов и повреждений, появившихся в процессе эксплуатации и при строительстве.
                +e.P.text
                    | Что вы получаете по результатам технического обследования?
                +e.UL.list
                    +e.LI.list-item технический отчет, выполненный в соответствии с ГОСТ 31937- 2011, готовый к прохождению экспертизы и любому другому согласованию, отвечающий всем требованиям Технического задания, подписанного до начала выполнения работ;
                    +e.LI.list-item протоколы испытаний строительных конструкций, выполненные в соответствии с действующей нормативно-технической документацией;
                    +e.LI.list-item акт обследования.
