mixin triggers()
    +b.SECTION.triggers
        +inner
            +e.H2.heading
                | Очевидная преимущества Адвокаткина
            +e.list
                +e.item
                    +e.image
                        img(src="images/trigger1.svg")
                    +e.title
                        | Абонентское обслуживание
                    +e.text
                        | Ваш адвокат приедет на местов кратчайшие сроки по первому требованию.
                +e.item
                    +e.image
                        img(src="images/trigger2.svg")
                    +e.title
                        | Срочный выезд 
                    +e.text
                        | Ваш адвокат приедет на местов кратчайшие сроки по первому требованию.
                +e.item
                    +e.image
                        img(src="images/trigger3.svg")
                    +e.title
                        | Круглосуточно 
                    +e.text
                        | Ваш адвокат будет сопровождать Вас в любое время дня и ночи.
