mixin accomplishment()
    +b.accomplishment
        +e.block
            +e.content
                +e.P.text
                    | Наша компания выполняет следующие этапы благоустройства территории:
                +e.UL.list
                    +e.LI.list-item Исследование особенностей земельного участка. Изучение рельефа, грунта. Составление проекта.
                    +e.LI.list-item Работы с рельефом местности, засыпка ям, устройство дренажа и коммуникаций, выкопка водоемов, зонирование территории.
                    +e.LI.list-item Прокладка сети дорог и тропинок, мощение, освещение территории, улучшение плодородия почвы.
                    +e.LI.list-item Работы по озеленению.
                    +e.LI.list-item Благоустройство придомовых территорий.
                    +e.LI.list-item Установка скамеек, скульптур, беседок, детских и спортивных площадок и других малых архитектурных форм.