-var services = [{text:'Электромонтажные работы', icon:'images/service1.jpg', link: '/electrical-works.html'}, {text:'строительно-монтажные работы', icon:'images/service2.jpg', link: '/building.html'}, {text:'Расчистка от дкр', icon:'images/service3.jpg', link: '/clearance.html'}, {text:'Благоустройство и дорожные работы', icon:'images/service4.jpg', link: '/accomplishment.html'}, {text:'Проектирование', icon:'images/service5.jpg', link: '/drafting.html'}, {text:'обследование зданий и сооружений', icon:'images/service6.jpg', link: '/inspection.html'}]

mixin services()
    +b.SECTION.services
        +e.inner
            +e.list
                for service in services
                    +e.A.item(href='#{service.link}')
                        +e.image(style='background-image: url(#{service.icon})')
                        +e.text #{service.text}
