mixin clearance()
    +b.service-page.clearance
        +e.block
            +e.content
                +e.P.text
                    | Компания оказывает комплексные услуги по уничтожению древесно-кустарниковой растительности и поросли. Мы имеем необходимый опыт проведения мероприятий по расчистке любых территорий, а также располагаем квалифицированным персоналом и необходимым современным оборудованием.
                +e.P.text
                    | В работе используется два наиболее эффективных метода:
                +e.UL.list
                    +e.LI.list-item Механическая расчистка. Этот способ показывает высокую производительностью и гарантирует отсутствие растительности в течение 4–7 последующих лет. Использование технологии мульчирования позволяет качественно расчищать большие площади и при этом сохраняет плодородность почвы.
                    +e.LI.list-item Ручная расчистка. Часто используется компанией для расчистки труднодоступных мест, в которых использование техники затруднено или невозможно в силу особенностей рельефа местности.


