mixin advantages()
    +b.SECTION.advantages
        +e.H2.heading За и против
        +e.blocks
            +e.block.--cons
                +e.content
                    +e.title Без адвокаткина
                    +e.UL.list
                        +e.LI.item С вами грубо общаются
                        +e.LI.item Проверяющие превышают свои полномочия
                        +e.LI.item Изымают имущество, документы и орг технику
                        +e.LI.item Оказывают давление на персонал, что приводит к массовым увольнениям
                        +e.LI.item Лишают права на телефонный звонок
                        +e.LI.item Не пускают адвоката на место обыска
            +e.block.--pros
                +e.content
                    +e.title С адвокаткиным
                    +e.UL.list
                        +e.LI.item Адвокат держит все под контролем
                        +e.LI.item Действия совершаются в рамках закона
                        +e.LI.item Действия совершаются в рамках закона
                        +e.LI.item Все имущество, документы и орг техника находятся под защитой
                        +e.LI.item Сотрудники чувствуют себя в безопасности
                
