mixin appeal()
    +b.SECTION.appeal
        +inner
            +e.H2.heading
                | Остались вопросы? <br>Задайте их лично адвокату!
            +e.row
                +e.A.button(href='#modal2' data-toggle="modal" data-target="#modal2")
                    | Задать вопрос
                +e.A.button.--light(href='#modal1' data-toggle="modal" data-target="#modal1")
                    | Заказать звонок

       