mixin tenders()
    +b.SECTION.tenders
        +e.row
            +e.row-inner
                +e.P.text
                    | Структура и опыт организации<br>Компания «АВК-СТРОЙ» осуществляющих основную деятельность по производству  строительных и электромонтажных работ на территории г. Санкт-Петербурга  и Ленинградской области. Основными направлениеми деятельности, компании «АВК-СТРОЙ» является комплекс электромонтажных и строительных работ по устройству систем внутреннего и внешнего электроснабжения жилых и нежылых объектов, монтаж внутреннего и наружного освещения, а также поставка широкого спектра  электротехнической продукции и материалов для электромонтажа. 
                +e.A.link(href='#') Посмотреть выигранные тендеры