#electrical-works
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> ООО «КапСтрой Северо-Запад» (Аквилон Инвест)
            .objects-list__location <span class='bold'>Объект:</span> Многоквартирный дом со встроенными помещениями и встроенно-пристроенным подземным гаражом, по адресу: гор. Санкт-Петербург, Московское шоссе, дом 13, литер ЕЗ, Подземный гараж (автостоянка)
            .objects-list__done-title <span class='bold'>Описание работ:</span> 
            .objects-list__done-list 
                | Общестроительные работы для прокладки сетей, работы по прокладке кабельных сетей электроснабжения, электроосвещения, монтажу электротехнического оборудования, устройству системы уравнивания потенциалов, подключению потребителей и всего инженерного оборудования, опломбированию счетчиков, проведению испытаний и пуско-наладочных работ.
            .objects-list__done-year 2017-2018
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> ООО «КапСтрой Северо-Запад» (Аквилон Инвест)
            .objects-list__location <span class='bold'>Объект:</span> Многоквартирный дом со встроенными помещениями и встроенно-пристроенным подземным гаражом, по адресу: гор. Санкт-Петербург, Московское шоссе, дом 13, литер ЕЗ, корпус 2.
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Общестроительные работы для прокладки сетей, работы по прокладке кабельных сетей электроснабжения, электроосвещения, монтажу электротехнического оборудования, устройству системы уравнивания потенциалов, подключению потребителей и всего инженерного оборудования, опломбированию счетчиков, проведению испытаний и пуско-наладочных работ.
            .objects-list__done-year 2017-2018
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> АО «Мостэк»
            .objects-list__location <span class='bold'>Объект:</span> Жилые дома по адресу Санкт-Петербург, г. Пушкин, Гумолоссары, участок 83 (корпуса тип 3.1 и 1.5)
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Устройство внутренних инженерных систем электроснабжения и электроосвещения жилых домов.
            .objects-list__done-year 2017-2018
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> ООО «Ампер»
            .objects-list__location <span class='bold'>Объект:</span> Здание детского дошкольного учреждения на 120 мест, по адресу: г. Гатчина, въезд, квартал №1
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Выполнение строительно-монтажных, пусконаладочных работ по внутренним сетям электроснабжения и электроосвещения.
            .objects-list__done-year 2018
#building
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> ООО «Север Строй» (Самолет ЛО)
            .objects-list__location <span class='bold'>Объект:</span> 
            .objects-list__done-title <span class='bold'>Описание работ:</span> строительство многоквартирного многоэтажного жилого дома (корпус 4) по адресу: Ленинградская область, Всеволожский муниципальный район, Бугровское сельское поселение, пос. Бугры
            .objects-list__done-list 
                | Строительно-монтажные работы по устройству кровли в объеме 4809,24 м<sup>2</sup>.
            .objects-list__done-year 2018
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> НУЗ «Дорожная клиническая больница ОАО «РЖД»
            .objects-list__location <span class='bold'>Объект:</span> НУЗ «Дорожная клиническая больница ОАО «РЖД» СПб, пр. Мечникова д.27
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Капитальный ремонт шестого и седьмого этажей в осях 1-8 и инженерных сетей.
            .objects-list__done-year 2017-2018
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> НУЗ «Отделенческая клиническая больница на станции Вологда ОАО «РЖД»
            .objects-list__location <span class='bold'>Объект:</span> Главный корпус НУЗ «Отделенческая клиническая больница на станции Вологда ОАО «РЖД» по адресу: г.Вологда, ул.Челюскинцев, д.48
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | СМР. Капитальный ремонт здания и инженерных сетей.
            .objects-list__done-year 2017-2018
#clearance
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> ПАО «МРСК Северо-Запада»
            .objects-list__location <span class='bold'>Объект:</span> филиал ПАО «МРСК Северо_Запада» «Вологдаэнерго» ПО ЧЭС
            .objects-list__done-title <span class='bold'>Описание работ:</span> 
            .objects-list__done-list 
                | Расчистка просек ВЛ 6-110 кВ от древесно-кустарниковой растительности механизированным способом. (249,02 Га)
            .objects-list__done-year 2018
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> ПАО «МРСК Северо-Запада»
            .objects-list__location <span class='bold'>Объект:</span> филиал ПАО «МРСК Северо_Запада» «Вологдаэнерго» ПО ЧЭС
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Расчистка просек ВЛ 6-110 кВ от древесно-кустарниковой растительности механизированным способом. (237,59 Га)
            .objects-list__done-year 2019
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> ЛОКП «Ленобллесхоз»
            .objects-list__location <span class='bold'>Объект:</span> филиал ПАО «Ленэнерго» «Выборгские электрические сети»
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Расчистка просек ВЛ 35-110 кВ от древесно-кустарниковой растительности механизированным способом. (106,4 Га)
            .objects-list__done-year 2018
#accomplishment
    
   
#drafting
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> СПб ГКУ «Управление заказчика по строительству и капитальному ремонту объектов инженерно-энергетического комплекса» по 44-ФЗ.
            .objects-list__location <span class='bold'>Объект:</span> Проектирование строительства и (или) реконструкции эл.сетей и устройств наружного освещения улиц : Железнодорожная ул. От Садовой ул. До ул.Богайчука и ул.Богайчука от Железнодорожной ул. До угла дома № 24, пос.Металлострой.
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Проектирование
            .objects-list__done-year 2018
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> СПб ГКУ «Управление заказчика по строительству и капитальному ремонту объектов инженерно-энергетического комплекса» по 44-ФЗ.
            .objects-list__location <span class='bold'>Объект:</span> Проектирование строительства и (или) реконструкции эл.сетей и устройств наружного освещения улиц : Вишерская ул.от Окуловской ул.до Школьной ул.(включая разворотное кольцо) пос.Шушары.
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Проектирование
            .objects-list__done-year 2018
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> СПб ГКУ «Управление заказчика по строительству и капитальному ремонту объектов инженерно-энергетического комплекса» по 44-ФЗ.
            .objects-list__location <span class='bold'>Объект:</span> Проектирование строительства и (или) реконструкции эл.сетей и устройств наружного освещения магистралей : Муринская дор.от Пискаревского пр. до границы дер.Новая.
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Проектирование
            .objects-list__done-year 2018
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> СПб ГКУ «Управление заказчика по строительству и капитальному ремонту объектов инженерно-энергетического комплекса» по 44-ФЗ.
            .objects-list__location <span class='bold'>Объект:</span> Проектирование строительства и (или) реконструкции эл.сетей и устройств наружного освещения кварталов: Квартал (Гражданская ул.- Посадская ул.-Андреевская ул.-пр.Ленина).
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Проектирование
            .objects-list__done-year 2018
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> СПб ГКУ «Управление заказчика по строительству и капитальному ремонту объектов инженерно-энергетического комплекса» по 44-ФЗ.
            .objects-list__location <span class='bold'>Объект:</span> Проектирование строительства и (или) реконструкции эл.сетей и устройств наружного освещения кварталов : Квартал 171 (Прилукская ул.- Тамбовская ул.-Курская ул.-Лиговский пр.)
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Проектирование
            .objects-list__done-year 2018-2019
#inspection
    
