#electrical-works
    .objects-list__item
        .objects-list__image(style='background-image: url("images/object.jpg")')
            a.objects-list__more(href='#') +
                div(class="all-images" style='display: none')
                    a(data-fancybox='images' href="images/electrical-works/object1-full.jpg" class="fancybox")
                    a(data-fancybox='images' href="images/electrical-works/object2-full.jpg" class="fancybox")
                    a(data-fancybox='images' href="images/electrical-works/object3-full.jpg" class="fancybox")
                    a(data-fancybox='images' href="images/electrical-works/object4-full.jpg" class="fancybox")
                    a(data-fancybox='images' href="images/electrical-works/object4-full.jpg" class="fancybox")
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> ООО АО «Ай-Теко»
            .objects-list__location <span class='bold'>Объект:</span> Череповец, Северное шоссе, 36
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Демонтажные работы, прокладка волоконно-оптического кабеля, электромонтажные работы, пуско-наладочные работы.
            .objects-list__done-year 2017
       .objects-list__item
            .objects-list__image(style='background-image: url("images/no-image.png")')
            .objects-list__description
                .objects-list__customer <span class='bold'>Заказчик:</span> ООО «СМТ СПб»
                .objects-list__location <span class='bold'>Объект:</span> «Футбольный стадион Зенит-Арена в западной части Крестовского острова по адресу: г.Санкт-Петербург, Крестовский остров, Южная дорога, 25
                .objects-list__done-title <span class='bold'>Описание работ:</span>
                .objects-list__done-list 
                    | Выполнение электромонтажных работ.
                .objects-list__done-year 2016-2017
        .objects-list__item 
            .objects-list__image(style='background-image: url("images/no-image.png")')
            .objects-list__description
                .objects-list__customer <span class='bold'>Заказчик:</span> ООО «Строительная компания «РегионСтрой» (ООО «СК «РС») 
                .objects-list__location <span class='bold'>Объект:</span> «Футбольный стадион Зенит-Арена в западной части Крестовского острова по адресу: г.Санкт-Петербург, Крестовский остров, Южная дорога, 25
                .objects-list__done-title <span class='bold'>Описание работ:</span>
                .objects-list__done-list 
                    | Выполнение электромонтажных работ.
                .objects-list__done-year 2017
         .objects-list__item 
            .objects-list__image(style='background-image: url("images/no-image.png")')
            .objects-list__description
                .objects-list__customer <span class='bold'>Заказчик:</span> ООО «КРОСС ИНЖИНИРИНГ»
                .objects-list__location <span class='bold'>Объект:</span> «Футбольный стадион Зенит-Арена в западной части Крестовского острова по адресу: г.Санкт-Петербург, Крестовский остров, Южная дорога, 25
                .objects-list__done-title <span class='bold'>Описание работ:</span>
                .objects-list__done-list 
                    | Выполнение электромонтажных работ.
                .objects-list__done-year 2017
        .objects-list__item
            .objects-list__image(style='background-image: url("images/no-image.png")')
            .objects-list__description
                .objects-list__customer <span class='bold'>Заказчик:</span> ООО «СК «Термопанель»
                .objects-list__location <span class='bold'>Объект:</span> Узловая больница на станции Кемь открытого акционерного общества «Российские железные дороги по адресу: Республика Карелия, Кемский р-н, г. Кемь, шоссе 1 мая, д.9
                .objects-list__done-title <span class='bold'>Описание работ:</span>
                .objects-list__done-list 
                    | Выполнение полного комплекса работ по монтажу внутреннего электрооборудования и электроосвещения, монтажу системы коммерческого учета.
                .objects-list__done-year 2016
        .objects-list__item
            .objects-list__image(style='background-image: url("images/no-image.png")')
            .objects-list__description
                .objects-list__customer <span class='bold'>Заказчик:</span> ООО «Сервионика» 
                .objects-list__location <span class='bold'>Объект:</span> «Строительство КПП локальной зоны хранения аммиака (изотерма) на Территории Аммиака-3» АО «ФосАгро-Череповец», Азотный комплекс по адресу: г.Череповец, Вологодская область, Северное шоссе, 36 (цех АМ-3)
                .objects-list__done-title <span class='bold'>Описание работ:</span>
                .objects-list__done-list 
                    | Демонтажные работы, прокладка волоконно-оптического кабеля,электромонтажные работы, пуско-наладочные работы.
                .objects-list__done-year 2017
         .objects-list__item
            .objects-list__image(style='background-image: url("images/no-image.png")')
            .objects-list__description
                .objects-list__customer <span class='bold'>Заказчик:</span> ООО «СТРОЙТЕХМОНТАЖ»
                .objects-list__location <span class='bold'>Объект:</span> «БЦ РЕСО», Санкт-Петербург, ул. Гаккелевская, дом 21.
                .objects-list__done-title <span class='bold'>Описание работ:</span>
                .objects-list__done-list 
                    | Выполнение комплекса электромонтажных работ.
                .objects-list__done-year 2017
#building
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> ООО «БалтМонолитСтрой»
            .objects-list__location <span class='bold'>Объект:</span> Офисное помещение по адресу Санкт-Петербург, ул. Кораблестроителей, 12 к.1
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | СМР, капитальный ремонт офисного помещения.
            .objects-list__done-year 2017
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> Муниципальное бюджетное образовательное учреждение дошкольного образования «Школа эстрадного искусства «Маленькие звездочки» по 44-ФЗ.
            .objects-list__location <span class='bold'>Объект:</span> Муниципальное бюджетное образовательное учреждение дошкольного образования «Школа эстрадного искусства «Маленькие звездочки» по адресу: Ленинградская область, г.Тосно, ул. Островского д.3 лит. А.
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | СМР. Капитальный ремонт здания и инженерных сетей.
            .objects-list__done-year 2017
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> НУЗ «Отделенческая клиническая больница на ст. Петрозаводск ОАО «РЖД»
            .objects-list__location <span class='bold'>Объект:</span> Главный корпус НУЗ «Отделенческая клиническая больница на станции Петрозаводск ОАО «РЖД»
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Ремонт кровли здания главного корпуса (1700 м 2 ). Демонтаж/монтаж оконных блоков (112 шт.).
            .objects-list__done-year 2017
#clearance
    .objects-list__item
        .objects-list__image(style='background-image: url("images/clearance/thumb.jpg")')
            a.objects-list__more(href='#') +
                div(class="all-images" style='display: none')
                    a(data-fancybox='images' href="images/clearance/object1-full.jpg" class="fancybox")
                    a(data-fancybox='images' href="images/clearance/object2-full.jpg" class="fancybox")
                    a(data-fancybox='images' href="images/clearance/object3-full.jpg" class="fancybox")
                    a(data-fancybox='images' href="images/clearance/object4-full.jpg" class="fancybox")
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> ЛОКП «Ленобллесхоз»
            .objects-list__location <span class='bold'>Объект:</span> филиал ПАО «Ленэнерго» «Новоладожские электрические сети»
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Расчистка просек ВЛ 6-10- 35-110 кВ от древесно-кустарниковой растительности механизированным способом. (58,14 Га)
            .objects-list__done-year 2017
    .objects-list__item
        .objects-list__image(style='background-image: url("images/clearance/thumb.jpg")')
            a.objects-list__more(href='#') +
                div(class="all-images" style='display: none')
                    a(data-fancybox='images' href="images/clearance/object5-full.jpg" class="fancybox")
                    a(data-fancybox='images' href="images/clearance/object6-full.jpg" class="fancybox")
                    a(data-fancybox='images' href="images/clearance/object7-full.jpg" class="fancybox")
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> ПАО «Ленэнерго» «Кингисеппские электрические сети»
            .objects-list__location <span class='bold'>Объект:</span> филиал ПАО «Ленэнерго» «Новоладожские электрические сети»
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Расчистка просек ВЛ 6-10 кВ от древесно-кустарниковой растительности механизированным способом. (39,44 Га)
            .objects-list__done-year 2017
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> ЛОКП «Ленобллесхоз»
            .objects-list__location <span class='bold'>Объект:</span> филиал ПАО «Ленэнерго» «Кингисеппские электрические сети»
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Расчистка просек ВЛ 6-10 кВ от древесно-кустарниковой растительности механизированным способом. (39,44 Га)
            .objects-list__done-year 2016
    .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> ЛОКП «Ленобллесхоз»
            .objects-list__location <span class='bold'>Объект:</span> филиал ПАО «Ленэнерго» «Новоладожские электрические сети»
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Расчистка просек ВЛ 6-10- 35-110 кВ от древесно-кустарниковой растительности механизированным способом. (37 Га)
            .objects-list__done-year 2016
#accomplishment
    .objects-list__item
        .objects-list__image(style='background-image: url("images/object.jpg")')
            a.objects-list__more(href='#') +
                div(class="all-images" style='display: none')
                    a(data-fancybox='images' href="images/accomplishment/object1-full.jpg" class="fancybox")
                    a(data-fancybox='images' href="images/accomplishment/object2-full.jpg" class="fancybox")
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> ООО «ПУСК»
            .objects-list__location <span class='bold'>Объект:</span> «Строительство и эксплуатация на платной основе мостовых переходов через реку Кама и реку Буй у города Камбарка на автомобильной дороге Ижевск-Сарапул- Камбарка – граница республики Башкортостан в Удмуртской республике».
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | рекультивация земель.
            .objects-list__done-year 2017
#drafting

#inspection
    .objects-list__item
        .objects-list__image(style='background-image: url("images/object.jpg")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> «Дорожная клиническая больница ОАО «РЖД»
            .objects-list__location <span class='bold'>Объект:</span> «Дорожная поликлиника ОАО «РЖД» по адресу: г. Санкт-Петербург, пр. Мечникова д.27, лит.Б
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Проведение работ по комплексному обследованию и оценке технического состояния здания.
            .objects-list__done-year 2017
       .objects-list__item
        .objects-list__image(style='background-image: url("images/no-image.png")')
        .objects-list__description
            .objects-list__customer <span class='bold'>Заказчик:</span> «Дорожная клиническая больница ОАО «РЖД»
            .objects-list__location <span class='bold'>Объект:</span> Дорожная поликлиника ОАО «РЖД» по адресу: г. Санкт-Петербург, ул. Боровая д.55
            .objects-list__done-title <span class='bold'>Описание работ:</span>
            .objects-list__done-list 
                | Проведение работ по комплексному обследованию и оценке технического состояния здания.
            .objects-list__done-year 2017