mixin main-footer()
  +b.FOOTER.main-footer
    +inner
        +e.inner
            +e.A.tel(href='tel:+74951500902')
                | +7 (495) 150-09-02
            +e.adress
                | Наш адрес: г. Санкт-Петербург, <br>Загородный просп. 31, офис 302<br> Ежедневно с 8.00 до 22.00,<br>  Приём заявок круглосуточно<br> Без обеда и выходных
            +e.logo
                img(src="images/logo-white.svg", alt="Адвокаткин")
                +e.logo-text Защита бизнеса РФ 2018 &copy; <br>&laquo;Адвокаткин&raquo; Все права защищены.
