.main-footer {
    width: 100%;
    min-width: 1040px;
    padding: 50px 0 25px;
    margin: 0 auto;

    font-family: $roboto;
    color: $ligthtext;
    background-color: #3d3d3d;

    border-top: 3px solid #4a4a4a;
}

.main-footer__inner {
    display: block;
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 70px 25px;

    border-bottom: 1px solid #fff;
}

.main-footer__nav {
    width: 100%;
    margin-bottom: 10px;
}

.main-footer__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-start;
}

.main-footer__block {
    width: auto;
    flex: 0 0 auto;
    margin-right: 150px;

    &:last-child {
        margin-right: 0;
    }
}

.main-footer__services {
    list-style: none;
    padding: 0;
}

.main-footer__service {
    margin-bottom: 2px;

    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.main-footer__credits {
    font-size: 15px;
    font-weight: 400;
}