-var servicesf = [{text:'Электромонтажные работы', icon:'images/service1.jpg'}, {text:'строительно-монтажные работы', icon:'images/service2.jpg'}, {text:'Расчистка от дкр', icon:'images/service3.jpg'}, {text:'Благоустройство и дорожные работы', icon:'images/service4.jpg'}, {text:'Проектирование', icon:'images/service5.jpg'}, {text:'обследование зданий и сооружений', icon:'images/service6.jpg'}]

mixin main-footer()
    +b.FOOTER.main-footer
        +e.inner
            +e.nav
                +footer-nav
            +e.row
                +e.block
                    +e.UL.services
                        each service in servicesf
                            +e.LI.service= service.text
                +e.block
                    +e.credits
                        | 2018 © ООО “AВК СТРОЙ”<br>
                        | ИНН: 7811523780, ОГРН: 1127847312163 193091,<br> 
                        | город Санкт-петербург, Октябрьская набережная,<br> 
                        | дом 6, литер В, помещение 11-Н
