mixin contacts-data()
    +b.contacts-data
        +e.name ООО “AВК-Строй”
        +e.address город Санкт-петербург, <br>Октябрьская набережная, дом 6, литер В, помещение 11-Н
        +e.tel Телефон: +7(812) 240-20-68
