mixin building()
    +b.building
        +e.block
            +e.content
                +e.P.text
                    | Компания осуществляет общестроительную деятельность. Она включает в себя виды работ:
                +e.UL.list
                    +e.LI.list-item Земляные -  рытье котлованов, ям и траншей для установки ленточных фундаментов, и отдельных опор, подземных коммуникаций различной протяженности. Также предусматривается вскрытие, рыхление и транспортирование грунта, подготовка площадок, их плакировка, обратная засыпка и уплотнение грунта;
                    +e.LI.list-item Свайные - погружение или забивка свай, подготовка для них фундамента;
                    +e.LI.list-item Каменные - возведение простенков, стен, столбов и других конструкций из штучных и крупных блоков и камней, кладки из бута, бутобетона, кирпича, природных и искусственных камней;
                    +e.LI.list-item Железобетонные и бетонные - подготовка бетонной смеси, ее транспортировка и заливка в опалубку, уход за бетоном, обработка стыков сборных элементов. Сюда же относятся манипуляции по подготовке опалубки и установке в ней арматурного каркаса;
                    +e.LI.list-item Монтажные - доставка на место назначения конструктивных деталей, их выверка, установка и крепление. Это относится к разным видам конструкций: металлическим, деревянным, железобетонным и т.д.;
                    +e.LI.list-item Столярные и плотничные - на стройках не предполагается первичная обработка дерева. Обычно происходит доставка и установка готовых деревянных деталей (дверей, окон, стропил) или созданием конструкций из заранее обработанных элементов (брусков или досок), например, настилка паркета или дощатого пола;
                    +e.LI.list-item Кровельные - состоят в покрытии крыш (бесчердачных и чердачных) асбестоцементным или стальным листом, черепицей, а также в покрытии подготовленного основания рулонными материалами (рубероид, толь);
                    +e.LI.list-item Штукатурные - при больших объемах применяется механическая подача и нанесение раствора, при малых – ручная;
                    +e.LI.list-item Облицовочные - проводятся после каменных, заключаются в покрытии вертикальных и горизонтальных поверхностей крупной и мелкой плиткой, а также листовыми материалами;
                    +e.LI.list-item Малярные - состоят в ручной или механической окраске конструкций, а также оклейке стен обоями.
                    +e.LI.list-item Устройства полов, инженерных сетей и коммуникаций;
                    +e.LI.list-item Пусконаладочные работы и др.
