mixin main-header()
    +b.HEADER.main-header
        +e.top-row
            +e.A.logo&attributes(attributes)
                img(src='images/logo.svg' width='95' alt='АВТ-Строй')
        +e.navigation
            +e.inner-row
                +main-nav
                +e.tel <span>тел.:</span> +7812 975 85 52