mixin licenses-content()
    +b.licenses-content
        +e.H2.heading Наши лицензии
        +e.list
            +e.item
                +e.A.link(data-fancybox='gallery' href='images/license1.jpg')
                    +e.IMG.image(src='images/license1.jpg')
                +e.label 
                    span Ассоциация СРО "МРП"
            +e.item
                +e.A.link(data-fancybox='gallery' href='images/license2.jpg')
                    +e.IMG.image(src='images/license2.jpg')
                +e.label 
                    span Ассоциация СРО "МРИ"
            +e.item
                +e.A.link(data-fancybox='gallery' href='images/license3.jpg')
                    +e.IMG.image(src='images/license3.jpg')
                +e.label 
                    span Ассоциация "Содружество Строителей"
 