mixin steps()
    +b.SECTION.steps
        +inner
            +e.H2.heading Как перестать переживать за свою компанию?
            +e.H3.subheading Проверенный алгоритм работы на 1000008 организациях Санкт-Петербурга
            +e.UL.list
                +e.LI.item Проводим полный аудит и разибраемся во всех юридических тонкостях вашего бизнеса
                +e.LI.item Выявляем все допущенные юридических ошибки и риски, которые руководитель мог не заметить
                +e.LI.item Даем рекомендации и проверяем исправление ошибок
                +e.LI.item Проводим инструктаж руководителя и сотрудников о порядке действий при проверках правоохранительными органами
                +e.LI.item Выезжаем в любое время суток
                +e.LI.item Представляем интересы при оперативно-розыскных мероприятиях и в суде
                +e.LI.item Выявляем правонарушения в отношении Вашей организациит 