.slider#testimonials {
    width: 100%;
    padding: 0 15px;
    
    color: $darktext;

   .slider__inner {
        box-shadow: 5px 8px 25px 4px rgba(0, 11, 19, 0.05);
        border-radius: 5px;
   }

    .slider__slide {
        width: 100%;
        padding: 10px;
        margin: 0;
        height: 277px;
        overflow-y: auto;

        //box-shadow: 5px 8px 25px 4px rgba(0, 11, 19, 0.05);
        border-radius: 5px;
        background-color: #ffffff;
    }

    .slider__col {
        width: 100%;
    }

    .slider__image {
        position: relative;
        width: 52px;
        height: 52px;
        margin: 0 auto 5px;

        background-color: #cdcdcd;
        border-radius: 50%;

        img {
            width: 100%;
            min-width: 100%;
            height: auto;
            max-height: 100%;
        }
    }

    .slider__author {
        margin-bottom: 10px;

        font-size: 10px;
        font-weight: 700;
        text-align: center;
    }

    .slider__content {
        width: 100%;
    }

    .slider__text {
        margin: 0;
        margin-bottom: 5px;

        font-size: 9px;
        font-weight: 300;
        line-height: 1.4;
    }

    .slider__control {
        width: 15px;
        background-image: none;

        .slider__icon {
            position: absolute;
            top: 50%;
            width: 8px;
            height: 13px;
            transform: translateY(-50%);

            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &--left .slider__icon {
            left: 0;
            background-image: url('../images/left-arrow.svg');
        }

        &--right .slider__icon {
            right: 0;

            background-image: url('../images/left-arrow.svg');
            transform: translateY(-50%) rotate(180deg);
        }
    }
}

@media #{$tablet} {
    .slider#testimonials {
        padding: 0 50px;

        .slider__inner {
            box-shadow: 0 9px 25px 4px rgba(0, 11, 19, 0.05);
            border-radius: 20px;
        }

        .slider__slide {
            height: 350px;
        }
        
        .slider__image {
            width: 90px;
            height: 90px;
            margin-bottom: 20px;
        }

        .slider__author {
            font-size: 15px;
        }

        .slider__text {
            font-size: 13px;
        }

        .slider__control {
            width: 50px;
            background-image: none;

            .slider__icon {
                width: 12px;
                height: 25px;
                transform: translateY(-50%);
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &--right .slider__icon {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}

@media #{$desktop} {
    .slider#testimonials {

        padding: 0 70px;

        .slider__inner {
            box-shadow: 0 9px 25px 4px rgba(0, 11, 19, 0.05);
            border-radius: 20px;
        }

        .slider__slide {
            display: flex;
            justify-content: space-between;
            padding: 30px;
            height: 270px;

            box-shadow: 0 9px 25px 4px rgba(0, 11, 19, 0.05);
            border-radius: 20px;
            
        }

        .slider__col {
            width: 165px;
            flex: 0 0 auto;
            margin-right: 30px;
        }

        .slider__image {
            width: 125px;
            height: 125px;
            margin-bottom: 20px;
        }

        .slider__author {
            font-size: 18px;
        }

        .slider__content {
            flex:  1 1 auto;
            padding-left: 0;
            padding-right: 50px;
        }

        .slider__text {
            font-size: 15px;
        }

        .slider__control {
            width: 70px;
            background-image: none;
            .slider__icon {
                width: 17px;
                height: 31px;
                transform: translateY(-50%);
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            &--right .slider__icon {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

}
