mixin slider()
    +b.slider.carousel.slide#testimonials
        +e.inner.carousel-inner
            .item.active
                +e.slide
                    +e.col
                        +e.image
                            //-img(src='images/slider1_img1.jpg')
                        +e.author Попов Дмитрий
                    +e.content
                        +e.P.text
                            | Нужна была юридическая поддержка, чтобы бизнес был защищен, и чтобы не "крышевание". в конце концов у меня приличная компания и 90-е мне не нужны. поддержка нужна была от проверок, зачастили сотрудники различных органов и от конкурентов маскарады приходили, они часто врывались в офисы внаглую, срывали рабочий график, пугали сотрудников, сплошные потери и трата нервов. я очень рад, что нашел эту компанию. во многих вопросах я не разбирался, адвокаты нашли ошибки, из-за которых меня могли привлечь к ответственности, слава богу вовремя все нашлось, проверки пока неуменьшились, но стали проходить гладко, действия проверяющих стали умереннее.  
            .item
                +e.slide
                    +e.col
                        +e.image
                            //-img(src='images/slider1_img1.jpg')
                        +e.author Другой Дмитрий
                    +e.content
                        +e.P.text
                            | Нужна была юридическая поддержка, чтобы бизнес был защищен, и чтобы не "крышевание". в конце концов у меня приличная компания и 90-е мне не нужны. поддержка нужна была от проверок, зачастили сотрудники различных органов и от конкурентов маскарады приходили, они часто врывались в офисы внаглую, срывали рабочий график, пугали сотрудников, сплошные потери и трата нервов. я очень рад, что нашел эту компанию. во многих вопросах я не разбирался, адвокаты нашли ошибки, из-за которых меня могли привлечь к ответственности, слава богу вовремя все нашлось, проверки пока неуменьшились, но стали проходить гладко, действия проверяющих стали умереннее. 
        +e.A.control.--left.left.carousel-control(href='#testimonials' data-slide='prev')
            +e.icon
        +e.A.control.--right.right.carousel-control(href='#testimonials' data-slide='next')
            +e.icon
