mixin experience()
    +b.SECTION.experience
        +inner
            +e.H2.heading Воспользуйтесь 16 летним опытом профессиональных адвокатов
            +e.list
                +e.item
                    +e.title Коллегия адвокатов
                    +e.text 12 адвокатов, специализирующихся только на уголовных делах
                +e.item
                    +e.title Огромный опыт в разных областях бизнеса
                    +e.text Практика успешной защиты в любом направлении бизнеса и этот список постоянно пополняется
                +e.item
                    +e.title Всегда на связи
                    +e.text Работаем круглосуточно без выходных, чтобы обеспечить мгновенный выезд к клиенту
                +e.item
                    +e.title Беремся за любое дело
                    +e.text Защита даже в самой сложной ситуации, в которой другие отказыватся помогать
                +e.item
                    +e.title Про связи
                    +e.text Работаем круглосуточно без выходных, чтобы обеспечить мгновенный выезд к клиенту