mixin top-screen()
    +b.SECTION.top-screen
        +inner
            +e.H1.main-heading
                | Надежная защита бизнеса при проверках правоохранительных органов!
            +e.H2.secondary-heading
                | Получите бесплатный аудит и узнайте все юридические ошибки вашего бизнеса
            +e.A.button(href='#modal1' data-toggle="modal" data-target="#modal1")
                | Узнать подробней
