mixin testimonials-content()
    +b.testimonials-content
        +e.H2.heading Благодарственные письма и отзывы наших клиентов
        +e.list
            +e.item
                +e.A.link(data-fancybox='gallery' href='images/letter1.jpg')
                    +e.IMG.image(src='images/letter1.jpg')
                +e.label 
                    span РЖД Медицина 
                    span Вторая стройка
            +e.item
                +e.A.link(data-fancybox='gallery' href='images/letter2.jpg')
                    +e.IMG.image(src='images/letter2.jpg')
                +e.label 
                    span РЖД Медицина 
                    span Вторая стройка
 