.objects {
    width: 100%;
    min-width: 1040px;
    padding: 50px 20px 75px;

    font-family: $roboto;
}

.objects__inner {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.objects__heading {
    margin: 0;
    margin-bottom: 55px;

    color: $themecolor;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.objects__link {
    position: relative;
    color: $themecolor;
    font: inherit;
    text-decoration: none;

    transition: color 300ms ease;

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -3px;

        background-color: $themecolor;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $darktext;
    }

    &.active {
        color: $darktext;

        &::after {
            height: 0;
        }

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: $darktext;
        }

    }
}
