mixin about-data()
    +b.about-data 
        +e.H2.heading О компании
        +e.P.text
            | Компания ООО «АВК-Строй» выполняет весь комплекс строительных и электромонтажных работ (наружные и внутренние). Так же, в сферу нашей деятельности входят работы по расчистке от ДКР и расширение трасс ВЛ, благоустройство и дорожные работы, проектирование инженерных систем.
        +e.P.text
            | В нашей компании работают квалифицированные специалисты, обладающие большим опытом и знаниями различного значения. Для работы над каждым объектом мы привлекаем узкоспециализированных специалистов, имеющих квалификацию в соответствующей области.
        +e.P.text
            | Кроме того, мы располагаем всеми необходимыми ресурсами (материалами) для создания индивидуальных решений с учетом требований заказчика.
        +e.P.text
            | Мы основываемся  на честности и прозрачности работ, разумной ценовой политике и профессионализме. Стремимся применять новейшие технологии, использовать передовые инженерные знания и эффективно интегрировать проверенные бизнес-ресурсы.
        +e.P.text
            | Среди наших клиентов – государственные компании и коммерческие лица. Наша компания работает по всем регионами России.



 
